
ion-spinner {
}

form {
    width: 100%;
}
 ion-grid {
    height: 85%;
    border: 2px solid black;

    ion-row {
        height: 14%;
        flex: 1;
    ion-col ion-button {
           width: 100%;
           height: 100%;
        }

    ion-range {
        width: 100%;
    }
    }
}


