
ion-spinner {
    width: 100%;
    float: left;
}
.left-align {
// Did not work :<
    display: flex;
    align-items: left;
    justify-content: left;
}

form {
    width: 100%;
}

.calculator {
    border: 2px solid black;
    height: 85%;
}
 ion-grid {
    height: 100%;
    ion-row {
        height: 14%;
        flex: 1;
        ion-col ion-button {
            width: 100%;
            height: 100%;
            }

        ion-range {
            width: 100%;
        }
        form ion-button {
            width: 14%;
        }
    }
}


    .flash-container {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #ff7675;
        border: 1px solid #d63031;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

    }